body {
  font-family: Helvetica;
  margin: 10px;
}

.white {
  background-color: white;
  margin: 20px;
  padding: 20px;
  /* height: 400px; */
  width: 600px;
}

#introduction {
  height: 350px;
  display: flex;
}

.darkgrey {
  background-color: darkslategray;
  display: flex;
}

.menu {
  background-color: grey;
  width: 400px;
  height: 400px;
  padding: 40px;
 position: fixed;

}

.menu h1 {
  color: yellow;

  letter-spacing: 2px;
}

.menu ul {
  display: block;
  border-top: 15px solid darkslategrey;
  margin-left: 100px;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.nav a:hover {
  color: yellow;
}

.burlywood {
  background-color: grey;
}

.row {
  width: 80%;
  margin: auto;
}

.page-section {
  display: flex;
  width: 100%;
}

.white h2 {
  color: darkslategray;
  border-left: 40px solid yellow;
  padding-left: 15px;
}

.flex {
  display: flex;
}

.container {
  padding: 50px;
  margin: auto;
  width: 30%;
}

.image img {
  width: 200px;
  height: 200px;
  margin-left: 80px;
  border: 10px solid white;
  border-radius: 50%;
}

.name {
  padding: 10px;
}

.name h1 {
  font-weight: bolder;
  color: white;
  font-size: 30px;
  margin-left: 20px;
  text-align: center;
}

.name p {
  color: yellow;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.space {
  width: 400px;
  background-color: gray;
}

.introduction {
  color: white;
  margin: auto;
  width: 50%;
  padding: 40px;
}


#contact {
  height: 200px;
}

.s-links {
  display: flex;
  margin: auto;
  width: 40%;
}

.social-media h2 {
  text-align: center;
  color: White;
  margin-bottom: 40px;
}

.s-links a {
  text-decoration: none;
  color: black;
  background-color: yellow;
  padding: 20px;
}
